element.style {
}
body {
    background: #fff;
}
body {
    color: rgba(0,0,0,.8);
    font-family: trade-gothic-next,sans-serif;
    font-size: 15px;
    font-size: .9375em;
    line-height: 1.4;
}
body {
    margin: 0;
}
body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

